#main {
  padding-top: 20px;
}

div.comment {
  padding: 12px;
}
.comment {
  background: #FFFFEF;
  border: 1px solid #CCC;
  font-weight: normal;
}
.comment .author {
  font-weight: bold;
}

dl {
  margin-top: 1em;
}

dt {
  margin-top: 1.5em;
}

dd {
  margin-top: 0.5em;
  margin-left: 2.5em;
}

code {
  color: #07b;
}

h4 {
  margin-top: 2em;
}

