#main {
  padding-top: 20px;
}

div.comment {
  padding: 12px;
}
.comment {
  background: #FFFFEF;
  border: 1px solid #CCC;
  font-weight: normal;
}
.comment .author {
  font-weight: bold;
}

pre.prettyprint {
  white-space: pre-line;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

pre.prettyprint:first-line {
  line-height: 0;
}

dl {
  margin-top: 1em;
}

dt {
  margin-top: 1.5em;
}

dd {
  margin-top: 0.5em;
  margin-left: 2.5em;
}

code {
  color: #07b;
}

h4 {
  margin-top: 2em;
}

