.project
.DS_Store

node_modules/**
tmp/**
src/*.exp
src/*.zip
src/*.rar
src/*.pdf
*.wgt
*.wap
*.zip
*.psd
*.ai
*.swp
*.app
*.log
*.exe
*.dll
*.iso
*.avi
*.m4v
*.tmp*~
*.idea*
*.expression
*.urturn
nbproject
spec/spec.opts.netbeans
capybara-*.html
log/*.log
log/*.log.lck
tmp/*
*.suo
debug.log
error.log
info.log
.loadpath
.settings/
*.csproj.user
*.orig
.idea
.bundle
*.BACKUP.*
*.REMOTE.*
*.BASE.*
*.LOCAL.*
lock
*.swo
*.swn
*.swm
.sass-cache/
*.sublime-workspace
*.sublime-project
.urturn/
/node_modules/
/components/